/* app css stylesheet */

body {margin:0 auto; text-align:center;}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.nav, .pagination, .carousel a { cursor: pointer; }
.hero-unit {width:550px; height:350px;margin:0 auto;}

.gridface {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.gridface.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.gridface.width {
	width:500px;
}

.gridface.height {
	height: 300px;
}

.row1 {
	float:center;
}

.tile {
	float:left;
	margin:30px;
	width: 500px;
	height: 500px;
	box-shadow: 10px 10px 5px #888888;
	border:2px solid #A9A9A9;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px 10px / 10px;
}
.t {
	height:40px;
	background-color:#0481b1;
	font-weight:bold;
	font-size:26px;
	font-family: Century Gothic, sans-serif;
	padding-top:10px;
	color:#FFFFFF;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px 10px / 10px;
}
.row1 {
	margin:40px;
	width: 800px;
	height: auto;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}
.grid {
border:2px solid #A9A9A9;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border-radius: 5px;
	border-radius: 5px 10px / 10px;
   border: 2px solid #A9A9A9;
   margin:30px;
	width: 300px;
	height: 300px;
	float:left;
}

.qtip.qtip-dark {
        width: auto !important;
      }
      #google {
        width: 100%;
        height: 100%;
        background-image: url(widget.google.png);
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 5;
      }
      a {
        text-decoration: none;
      }
      #services {
		position: absolute;
		top: 600px;
		height: 35px;
		left: 670px;
		right: 0px;
		text-align: center;
		padding-top: 2px;
		padding-bottom: 2px;
        
      }
      .s-top {
        top: 0;
      }
      .s-bottom {
        
      }
      .SVC {
        display: inline-block;
        height: 35px;
        width: 35px;
        opacity: .77;

        background-image: url(widget.google.products.png);
        background-repeat: no-repeat;
      }
      .SVC:hover {
        opacity: 1;
      }
      #PLUS {
        background-position: -462px 0;
      }
      #GWS {
        background-position: -762px 0;
      }
      #IMG {
        background-position: -126px 0;
      }
      #GMAIL {
        background-position: -168px 0;
      }
      #VOICE {
        background-position: -678px 0;
      }
      #YT {
        background-position: -804px 0;
      }
      #DRIVE {
        background-position: -42px 0;
      }
      #CAL {
        background-position: 0 0;
      }
      #MAPS {
        background-position: -210px 0;
      }
      #CWS {
        background-position: -636px 0;
      }
      #NEWS {
        background-position: -294px 0;
      }
      #TRANSLATE {
        background-position: -594px 0;
      }
      #MUSIC {
        background-position: -252px 0;
      }
      #BMKS {
        background-position: -546px 0;
      }
      #PICASA {
        background-position: -378px 0;
      }
      #FINANCE {
        background-position: -84px 0;
      }
      #PROD {
        background-position: -504px 0;
      }
      #OFFERS {
        background-position: -336px 0;
      }
      #WALLET {
        background-position: -720px 0;
      }
      #PLAY {
        background-position: -420px 0;
      }
